@using LeanCommerce.ViewModels.Admin
@model SiteSettingsViewModel

@{
    ViewData["Title"] = "Site Settings";
}
<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>@ViewData["Title"] <small>Please enter your site information.</small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form asp-controller="Admin" asp-action="SiteSettings" method="post" class="form-horizontal" role="form">
                    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="SiteName" class="col-md-3 col-sm-3 col-xs-12 control-label"></label>
                        <div class="col-md-3">
                            <input asp-for="SiteName" class="form-control" />
                            <span asp-validation-for="SiteName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="col-md-3 col-sm-3 col-xs-12 control-label"></label>
                        <div class="col-md-3">
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="col-md-3 col-sm-3 col-xs-12 control-label"></label>
                        <div class="col-md-3">
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="FacebookURL" class="col-md-3 col-sm-3 col-xs-12 control-label"></label>
                        <div class="col-md-3">
                            <input asp-for="FacebookURL" class="form-control" />
                            <span asp-validation-for="FacebookURL" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="LinkedInURL" class="col-md-3 col-sm-3 col-xs-12 control-label"></label>
                        <div class="col-md-3">
                            <input asp-for="LinkedInURL" class="form-control" />
                            <span asp-validation-for="LinkedInURL" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="GooglePlusURL" class="col-md-3 col-sm-3 col-xs-12 control-label"></label>
                        <div class="col-md-3">
                            <input asp-for="GooglePlusURL" class="form-control" />
                            <span asp-validation-for="GooglePlusURL" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="TwitterURL" class="col-md-3 col-sm-3 col-xs-12 control-label"></label>
                        <div class="col-md-3">
                            <input asp-for="TwitterURL" class="form-control" />
                            <span asp-validation-for="TwitterURL" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="DribbbleURL" class="col-md-3 col-sm-3 col-xs-12 control-label"></label>
                        <div class="col-md-3">
                            <input asp-for="DribbbleURL" class="form-control" />
                            <span asp-validation-for="DribbbleURL" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
