@{
    ViewData["Title"] = "Setup Complete!";
}
<h2>@ViewData["Title"]</h2>

<p>
    Setup of the Lean Commerce system is complete!
</p>
@Html.ActionLink("Continue to Site", "Index", "Home")
@Html.ActionLink("Continue to Admin Section", "Index", "Admin")