@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Welcome to Lean Commerce";
}
<h2>@ViewData["Title"]</h2>

<p>

</p>