@{
    ViewData["Title"] = "Welcome to Lean Commerce";
}
<h2>@ViewData["Title"]</h2>

<p>
    Welcome to Lean Commerce!  We noticed that this is your first time here, please complete this guided setup to get started.
</p>
@Html.ActionLink("Continue to DB Setup", "DbSetup", "Setup")